<header class="site-header">
    <nav class="main-nav">
        <div class="nav-container">
            <div class="logo">
                <a href="/">Future Me</a>
            </div>
            <ul class="nav-links">
                <li><a href="/" class="nav-link">Write Letter</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
            </ul>
        </div>
    </nav>
</header> 